USE [master]
GO
/****** Object:  Database [HMSDB]    Script Date: 2023-11-06 4:17:37 PM ******/
CREATE DATABASE [HMSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019EXPRESS\MSSQL\DATA\HMSDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HMSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019EXPRESS\MSSQL\DATA\HMSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMSDB]
GO
/****** Object:  Table [dbo].[tbl_booking]    Script Date: 2023-11-06 4:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [varchar](250) NOT NULL,
	[customer_address] [nvarchar](550) NOT NULL,
	[customer_email] [nvarchar](550) NOT NULL,
	[customer_phone_no] [nvarchar](50) NOT NULL,
	[booking_from] [date] NOT NULL,
	[booking_to] [date] NOT NULL,
	[payment_type] [int] NOT NULL,
	[assigned_room] [int] NOT NULL,
	[no_of_members] [tinyint] NULL,
	[total_amount] [decimal](18, 2) NULL,
 CONSTRAINT [pk_booking_id] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_booking_status]    Script Date: 2023-11-06 4:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_booking_status](
	[booking_status_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_status] [varchar](250) NOT NULL,
 CONSTRAINT [pk_booking_status_id] PRIMARY KEY CLUSTERED 
(
	[booking_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_payment]    Script Date: 2023-11-06 4:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [tinyint] NOT NULL,
	[payment_type_id] [int] NOT NULL,
	[payment_amount] [decimal](18, 2) NOT NULL,
	[Is_Active] [bit] NULL,
 CONSTRAINT [pk_payment_id] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_payment_type]    Script Date: 2023-11-06 4:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_payment_type](
	[payment_type_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_type] [varchar](50) NOT NULL,
 CONSTRAINT [pk_payment_type_id] PRIMARY KEY CLUSTERED 
(
	[payment_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_room]    Script Date: 2023-11-06 4:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_room](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_number] [varchar](50) NOT NULL,
	[room_type_id] [int] NOT NULL,
	[booking_status_id] [int] NOT NULL,
	[is_Active] [bit] NULL,
 CONSTRAINT [pk_room_id] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_room_type]    Script Date: 2023-11-06 4:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_room_type](
	[room_type_id] [int] IDENTITY(1,1) NOT NULL,
	[room_name] [varchar](50) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[room_price] [decimal](18, 2) NULL,
	[room_capacity] [tinyint] NOT NULL,
 CONSTRAINT [pk_room_type_id] PRIMARY KEY CLUSTERED 
(
	[room_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 2023-11-06 4:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[user_password] [nvarchar](255) NOT NULL,
	[user_level] [int] NOT NULL,
 CONSTRAINT [pk_user_id] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user_level]    Script Date: 2023-11-06 4:17:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_level](
	[user_level_id] [int] IDENTITY(1,1) NOT NULL,
	[user_type] [varchar](255) NOT NULL,
 CONSTRAINT [pk_user_level_id] PRIMARY KEY CLUSTERED 
(
	[user_level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_booking] ON 

INSERT [dbo].[tbl_booking] ([booking_id], [customer_name], [customer_address], [customer_email], [customer_phone_no], [booking_from], [booking_to], [payment_type], [assigned_room], [no_of_members], [total_amount]) VALUES (1, N'mia', N'2000 rue sainte-catherine ouest', N'mia@gmail.com', N'5149392006', CAST(N'2023-02-05' AS Date), CAST(N'2023-02-07' AS Date), 1, 2, 1, CAST(300.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tbl_booking] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_booking_status] ON 

INSERT [dbo].[tbl_booking_status] ([booking_status_id], [booking_status]) VALUES (1, N'Occupied')
INSERT [dbo].[tbl_booking_status] ([booking_status_id], [booking_status]) VALUES (2, N'Empty')
SET IDENTITY_INSERT [dbo].[tbl_booking_status] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_payment_type] ON 

INSERT [dbo].[tbl_payment_type] ([payment_type_id], [payment_type]) VALUES (1, N'visa')
INSERT [dbo].[tbl_payment_type] ([payment_type_id], [payment_type]) VALUES (2, N'master')
SET IDENTITY_INSERT [dbo].[tbl_payment_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_room] ON 

INSERT [dbo].[tbl_room] ([room_id], [room_number], [room_type_id], [booking_status_id], [is_Active]) VALUES (1, N'100', 1, 2, 0)
INSERT [dbo].[tbl_room] ([room_id], [room_number], [room_type_id], [booking_status_id], [is_Active]) VALUES (2, N'101', 1, 2, 0)
INSERT [dbo].[tbl_room] ([room_id], [room_number], [room_type_id], [booking_status_id], [is_Active]) VALUES (3, N'102', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_room] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_room_type] ON 

INSERT [dbo].[tbl_room_type] ([room_type_id], [room_name], [description], [room_price], [room_capacity]) VALUES (1, N'Single', N'room with one bed', CAST(80.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tbl_room_type] ([room_type_id], [room_name], [description], [room_price], [room_capacity]) VALUES (2, N'Double', N'room has 2 beds', CAST(150.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[tbl_room_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_user] ON 

INSERT [dbo].[tbl_user] ([userid], [username], [email], [user_password], [user_level]) VALUES (3, N'mary', N'mary@gmail.com', N'123456', 1)
INSERT [dbo].[tbl_user] ([userid], [username], [email], [user_password], [user_level]) VALUES (5, N'brown', N'brown@gmail.com', N'123456', 2)
INSERT [dbo].[tbl_user] ([userid], [username], [email], [user_password], [user_level]) VALUES (6, N'lee', N'lee@gmail.com', N'123456', 3)
SET IDENTITY_INSERT [dbo].[tbl_user] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_user_level] ON 

INSERT [dbo].[tbl_user_level] ([user_level_id], [user_type]) VALUES (1, N'manager')
INSERT [dbo].[tbl_user_level] ([user_level_id], [user_type]) VALUES (2, N'stuff')
INSERT [dbo].[tbl_user_level] ([user_level_id], [user_type]) VALUES (3, N'client')
SET IDENTITY_INSERT [dbo].[tbl_user_level] OFF
GO
ALTER TABLE [dbo].[tbl_booking] ADD  DEFAULT ((2)) FOR [no_of_members]
GO
ALTER TABLE [dbo].[tbl_booking] ADD  DEFAULT ((2000)) FOR [total_amount]
GO
ALTER TABLE [dbo].[tbl_payment] ADD  DEFAULT ((0)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[tbl_room] ADD  DEFAULT ((0)) FOR [is_Active]
GO
ALTER TABLE [dbo].[tbl_room_type] ADD  CONSTRAINT [df_room_price]  DEFAULT ((3000)) FOR [room_price]
GO
ALTER TABLE [dbo].[tbl_booking]  WITH CHECK ADD  CONSTRAINT [FK_ass_room_Id] FOREIGN KEY([assigned_room])
REFERENCES [dbo].[tbl_room] ([room_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_booking] CHECK CONSTRAINT [FK_ass_room_Id]
GO
ALTER TABLE [dbo].[tbl_booking]  WITH CHECK ADD  CONSTRAINT [FK_paytyp_pay_Id] FOREIGN KEY([payment_type])
REFERENCES [dbo].[tbl_payment_type] ([payment_type_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_booking] CHECK CONSTRAINT [FK_paytyp_pay_Id]
GO
ALTER TABLE [dbo].[tbl_payment]  WITH CHECK ADD  CONSTRAINT [fk_payment_type] FOREIGN KEY([payment_type_id])
REFERENCES [dbo].[tbl_payment_type] ([payment_type_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_payment] CHECK CONSTRAINT [fk_payment_type]
GO
ALTER TABLE [dbo].[tbl_room]  WITH CHECK ADD  CONSTRAINT [FK_booking_status] FOREIGN KEY([booking_status_id])
REFERENCES [dbo].[tbl_booking_status] ([booking_status_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_room] CHECK CONSTRAINT [FK_booking_status]
GO
ALTER TABLE [dbo].[tbl_room]  WITH CHECK ADD  CONSTRAINT [fk_room_type] FOREIGN KEY([room_type_id])
REFERENCES [dbo].[tbl_room_type] ([room_type_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_room] CHECK CONSTRAINT [fk_room_type]
GO
ALTER TABLE [dbo].[tbl_user]  WITH CHECK ADD  CONSTRAINT [FK_usr_level_no] FOREIGN KEY([user_level])
REFERENCES [dbo].[tbl_user_level] ([user_level_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_user] CHECK CONSTRAINT [FK_usr_level_no]
GO
USE [master]
GO
