.login-container {
    background-image: url('imgs/background-with-shadow-tree.jpg'); 
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;

    background-color: #cae8ce;
    color: #43587a; 
    padding: 20px; 
    border-radius: 10px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    margin: 0 auto;  
    max-width: 400px;  
    margin-top: 50px;
    margin-bottom: 250px;
    justify-content: center;
}

.form-group {
    margin-bottom: 20px; /* Adjust the margin to control spacing */
}

.form-group .btn-default {
        background-color: #9cc2ff; /* Grey background color */
        color: #fff; /* Text color for contrast */
        display: block; /* Make the button a block-level element */
        width: 50%; /* Make the button 100% width */
        padding: 10px; /* Add padding for spacing */
        border: none; /* Remove the button border */
        border-radius: 5px; /* Rounded corners for the button */
        text-align: center; /* Center text within the button */
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-default :hover {
        background-color: #ff5733;
    }
